.banner{
    height: 100px;
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.list {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.list-items{
    text-align: left;
}